In [11]:
def hello_w():
    print("hello to world")

In [6]:
hello_w()

hello to world

In [8]:
def say_something(something):
    print(something)

In [10]:
say_something("have a nice day")

have a nice day

In [12]:
jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(jane_says)

Hi, my name is Jane. I'm learning Python!

In [15]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [25]:
passing_math_count = 29370
total_student_count = 39170
# Call the function.
passing_math_percent(passing_math_count,total_student_count)

74.9808526933878

In [26]:
x=55676677
y=6778877
passing_math_percent(x,y)

821.325965938016

In [ ]:
# a list of my grades
#my_grades = ['B','C','A','B']

In [42]:
import pandas as pd
# a list of my grades
my_grades = ['B','C',"A",'B']
#convert my my_grades into series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    A
3    B
dtype: object

In [49]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0      A
1      B
2    NaN
3      A
dtype: object

In [51]:
# changev the grade b and c by f
my_grades.map({'B':'F','C':'G'})

0      F
1      G
2    NaN
3      F
dtype: object

In [53]:
#USING FORMAT FUNCTION
my_grades = [87.56,45.89,67.45,89.76]
for grade in my_grades:
    print("{:.0f}".format(grade))

88
46
67
90

In [54]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [55]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object